/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
.idea/copyright/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/deployment.xml
.idea/inspectionProfiles/
.idea/keramotile.local.iml
.idea/modules.xml
.idea/symfony2.xml
.idea/workspace.xml
_old/
app/
bin/
composer.json
composer.lock
composer.phar
phpunit.xml.dist
src/
tests/
var/
web/
