<!DOCTYPE html>
<html>
    <head>
        {% block meta_tags %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock %}

        {% block stylesheets %}
	        <link rel="stylesheet" href="{{ asset('stylesheet') }}">
        {% endblock %}

        {% block javascripts %}
	        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/test.js') }}"></script>
        {% endblock %}

        <title>
        {% block head_title %}
	        titletitle
        {% endblock %}
        </title>
    </head>
    <body class="sonata-bc skin-black fixed">
	    <div class="wrapper">

	        {% block header %}
	            <header class="main-header">
		            <nav class="navbar navbar-static-top" role="navigation">
		            </nav>
	            </header>
	        {% endblock header %}

	        {% block wrapper %}
	            {% block left_side %}
	                <aside class="main-sidebar">
	                    <section class="sidebar">
		                    sonata_sidebar_search
	                    </section>
	                </aside>
	            {% endblock left_side %}

	            <div class="content-wrapper">
		            <section class="content-header">
			            sonata_page_content_header
		            </section>

		            <section class="content">

		            </section>
	            </div>
	        {% endblock wrapper %}
	    </div>
    </body>
</html>
