<div class="nav-wrapper">
	<ul class="nav navbar-nav">
		<li>
			<a href="" class="sidebar-show"><em class="fa fa-navicon"></em></a>
		</li>
		<li class="dropdown" uib-dropdown="">
			<a aria-expanded="false" aria-haspopup="true" role="button" class="dropdown-toggle" uib-dropdown-toggle="">
				Directives <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="">fooooo</a></li>
			</ul>
		</li>
		<li><a href="">baaar</a></li>

	</ul>
</div>