<aside ng-controller="SidebarLeftCtrl as SidebarLeft" class="sidebar-left" >
	<section class="sidebar">
		sidebar <br>sidebar <br>sidebar <br>sidebar <br>sidebar <br>sidebar <br>sidebar <br>
	</section>
</aside>