{% extends "AppBundle:Adminka:layout.html.twig" %}
{% block content %}
	<table class="bstable user-list" data-url="{{ sendUrl }}">
		<thead>
			<tr>
				<th data-field="state" data-checkbox="true"></th>
				<th data-field="id" data-sortable="true" data-formatter="formatterId" class="id">ID</th>
				<th data-field="username" data-sortable="true" width="200">Login</th>
				<th data-field="email" data-sortable="true">Email</th>
				<th data-field="lastLogin" data-sortable="true">lastLogin</th>
				<th data-field="actions" data-formatter="formatterActions" class="actions"></th>
			</tr>
		</thead>
	</table>
{% endblock content %}