html {
  -ms-overflow-style: scrollbar;
}
:focus,
:active {
  outline: 0 !important;
}
::-moz-focus-inner {
  border: 0 !important;
}
body {
  background: #f2f5f7;
  font-weight: 400;
}
a {
  outline: none;
  cursor: pointer;
  color: #3498db;
}
a :hover {
  color: #217dbb;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
  font-weight: 300;
}
.clearfix:before,
.clearfix:after,
.page-heading:before,
.page-heading:after,
.page-heading h1:before,
.page-heading h1:after {
  content: " ";
  display: table;
}
.clearfix:after,
.page-heading:after,
.page-heading h1:after {
  clear: both;
}
.page-heading {
  background: #e6eaed;
  padding: 10px;
  margin: 0 0 5px;
}
.page-heading h1 {
  float: left;
  margin: 0;
  line-height: 30px;
  font-weight: 300;
  font-size: 20px;
}
.page-heading h1 small {
  font-size: 12px;
  color: #93a8a8;
  margin-left: 5px;
  font-weight: 400;
}
.breadcrumb {
  border: 1px solid #e6eaed !important;
  padding: 4px 12px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #e6eaed;
  border-radius: 3px;
}
.breadcrumb > li {
  display: inline-block;
  color: #cbd6d6;
  font-size: 12px !important;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cbd6d6;
}
.breadcrumb > .active {
  color: #93a8a8;
}
.fixed-table-toolbar .columns {
  margin-top: 0;
  margin-bottom: 0;
}
.fixed-table-toolbar .search {
  margin-top: 0;
  margin-bottom: 0;
}
.bstable {
  font-size: 12px;
}
.bstable tr > th {
  background-color: #E6EAED;
}
.bstable tr:hover > td {
  background-color: #e2e9ed;
}
.bstable tr:nth-child(2n) > td {
  background-color: #F2F5F7;
}
.bstable tr:nth-child(2n):hover > td {
  background-color: #d2dde4;
}
.bstable tr > td {
  background-color: #fff;
  padding: 3px 0 3px 8px !important;
}
.bstable tr > td:first-child {
  padding: 3px 0 3px 0 !important;
}
.bstable tr > td.id {
  width: 80px;
}
.bstable tr > td.actions {
  width: 120px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.navbar .navbar-header {
  width: 200px;
  position: relative;
  z-index: 11;
}
.wrapper {
  margin-top: 51px;
}
.wrapper.sidebar-hide .sidebar-left {
  width: 20px;
}
.wrapper.sidebar-hide .content-wrapper {
  margin-left: 20px;
}
.wrapper .sidebar-left {
  border: 1px solid #000000;
  position: fixed;
  width: 220px;
  top: 51px;
  left: 0;
  bottom: 0;
  z-index: 116;
  background-color: #fff;
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1), translate 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.wrapper .content-wrapper {
  position: relative;
  height: 100%;
  margin-left: 220px;
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1), translate 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background-color: #E6EAED;
}
.select2-container--bootstrap .select2-results__option[aria-selected="true"].select2-results__option--highlighted {
  background-color: #337ab7;
  color: #fff;
}
.select2-container--bootstrap .select2-results__option[aria-selected="true"]:hover {
  background-color: #337ab7;
  color: #fff;
}
.select2-container--bootstrap .select2-results__option[aria-selected="true"]:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  content: "\f00c";
  margin-right: 5px;
}
