// Core variables and mixins
@import "adm_less/variables.less";
@import "adm_less/extend-core.less";
@import "adm_less/clearfix.less";
@import "adm_less/layout.less";
@import "adm_less/bs-table.less";

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.navbar {
	.navbar-header {
		width: 200px;
		position: relative;
		z-index: 11;
	}
}
.wrapper {
	margin-top: 51px;
	&.sidebar-hide {
		.sidebar-left {
			width: 20px;
		}
		.content-wrapper {
			margin-left: 20px;
		}
	}
	.sidebar-left {
		border: 1px solid #000000;
		position: fixed;
		width: 220px;
		top: 51px;
		left: 0;
		bottom: 0;
		z-index: 116;
		background-color: #fff;
		transition: width .2s cubic-bezier(.35,0,.25,1),translate .2s cubic-bezier(.35,0,.25,1);
	}
	.content-wrapper {
		position: relative;
		height: 100%;
		margin-left: 220px;
		transition: width .2s cubic-bezier(.35,0,.25,1),translate .2s cubic-bezier(.35,0,.25,1);
		.content {

		}
	}
}

.select2-container--bootstrap {
	.select2-results__option[aria-selected="true"] {
		&.select2-results__option--highlighted {
			background-color: #337ab7;
			color: #fff;
		}
		&:hover {
			background-color: #337ab7;
			color: #fff;
		}
		&:before {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			content: "\f00c";
			margin-right: 5px;
		}
		background-color: #E6EAED;
	}
}
